.list-items .list-item {
    .font-s2;
    // Layout of list-item children
    .display(flex);
    .flex-wrap(wrap);
    min-height: 3rem;
    width: 100%;
    position: relative;
    .checkbox {
        .flex(0, 0, 44px);
        min-height: 3rem;
        height: auto;
        cursor: pointer;
    }
    input[type="text"] {
        .flex(1);
    }
    .delete-item {
        position: absolute;
        width: 3rem;
        right: 0;
    }
    .col-en,
    .col-fr,
    .col-es {
        .flex(1);
        padding: .75rem 0;
        line-height: 1.5rem !important;
    }
    // Style of list-item children
    input[type="text"] {
        background: transparent;
        cursor: pointer;
        &:focus {
            cursor: text;
        }
    }
    .delete-item {
        color: @color-well;
        min-height: 3rem;
        text-align: center;
        line-height: 3.1rem;
        top: 50%;
        margin-top: -1.5rem;
        text-align: center;
        &:hover {
            color: @color-primary;
        }
        &:active {
            color: @color-well;
        }
        .icon-trash {
            font-size: 1.1em;
        }
    }
    // Hover state
    &:hover {
        background-color: @color-full-lighter;

        .checkbox input[type="checkbox"] + span:before {
          opacity: 1;
        }
    }
    // Border between list items
    & + .list-item {
        border-top: 1px solid @color-full;
    }
    // Checked
    &.checked {
        input[type="text"] {
            opacity: 0.6;
            text-decoration: line-through;
        }
        .delete-item {
            display: inline-block;
        }
    }
    // Editing
    .delete-item {
        display: none;
    }
    &.editing .delete-item,
    &:hover .delete-item {
        display: inline-block;
    }
}
